
#chat_messages
{
    border:1px solid black;
    width: 100%;
    height: 200px;
    overflow-y:scroll;
}

.not_connected #chat_messages
{
		background-color: #DDDDDD;
}

.connected #chat_messages
{
		background-color: #FFFFFF;
}

#chat_input
{
    width: 100%;
}

.status_message
{
    font-style: italic;
}

.not_connected #chat_room_info
{
    display: none;
}

#chat_room_info
{
		height: 100px
}

#chat_user_list_title
{
    margin-top: 1em;
}

#page
{
    position: relative;
    width: 100%;
}

